@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

.main {
    text-align: center;
    background-color: #FEB139;
}

.description {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 25px;
    align-items: center;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
}

.description p {
    position: absolute;
    top: 525px;
    background-color: #FEB139;
    border: 1px solid #FEB139;
    font-size: 5.5rem;
    font-weight: 900;
    color: black;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cover {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}

.profile {
    position: absolute;
    top: 100px;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    padding-bottom: 50px;
    padding-top: 0;
    text-align: center;
}

.cover1 {
    height: 155px;
    object-fit: cover;
}

.links {
    position: absolute;
    top: 762px;
    background-color: #FEB139;
    border: 1px solid #FEB139;
    height: 100px;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.links1 {
    position: absolute;
    top: 4850px;
    background-color: #FEB139;
    border: 1px solid #FEB139;
    height: 100px;
    width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icons {
    padding: 20px;
    color: #7900FF;
}

.faTwitter {
    position: absolute;
    left: 100px;
    top: 0.3px;    
}

.faTwitter:hover {
    color: #2192FF;
}

.faGithub {
    position: absolute;
    left: 200px;
    top: 0.3px;
}

.faGithub:hover {
    color: black;
}

.faLinkedin {
    position: absolute;
    left: 300px;
    top: 0.3px;
}

.faLinkedin:hover {
    color: #00337C;
}

.about {
    position: relative;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.5rem;
    color: #451973;
    padding-bottom: 100px;
}

.subject {
    position: absolute;
    top: 200px;
    background-color: #FEB139;
    border: 1px solid #FEB139;
    font-size: 3rem;
    font-weight: 550;
    max-width: 1200px;
    color: black;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 25px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.subject a {
    color: #9817c7;
}

.subject a:hover {
    color: #293462;
}

.grid {
    position: relative;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 1.5rem;
    color: black;
    padding-bottom: 100px;

}

.project1 {
    display: block;
    margin-left: 150px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.project2 {
    display: block;
    margin-left: 150px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.project3 {
    display: block;
    margin-left: 150px;
    align-items: center;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.heading {
    display: flex;
    justify-content: center;
}

.title {
    position: absolute;
    top: 35px;
    background-color: #FEB139;
    border: 1px solid #FEB139;
    font-size: 5.5rem;
    font-weight: 900;
    color: black;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.title:hover {
    color: #293462;
    background-color: #FC8621;
}

.card1 {
    position: absolute;
    top: 200px;
    left: 235px;
}

.card2 {
    position: absolute;
    top: 200px;
    right: 235px;
}

.card3 {
    position: absolute;
    top: 700px;
    left: 235px;
}

.card4 {
    position: absolute;
    top: 700px;
    right: 235px;
}

.card5 {
    position: absolute;
    top: 1200px;
    left: 235px;
}

.card6 {
    position: absolute;
    top: 1200px;
    right: 235px;
}

.card7 {
    position: absolute;
    top: 1700px;
    left: 235px;
}
